<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624663510444-p1fpraidm5ubj5gqre8gt7gi85sjgkjs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624663510444-p1fpraidm5ubj5gqre8gt7gi85sjgkjs</string>
	<key>API_KEY</key>
	<string>AIzaSyCN0TljzLTdi7VeKHneHvX596vk9J2GWDg</string>
	<key>GCM_SENDER_ID</key>
	<string>624663510444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.alekseev.ios.InstagramFirebase</string>
	<key>PROJECT_ID</key>
	<string>instagramfirebase-4e86f</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirebase-4e86f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624663510444:ios:f54c7c77d26e7c518a8e09</string>
	<key>DATABASE_URL</key>
	<string>https://instagramfirebase-4e86f.firebaseio.com</string>
</dict>
</plist>